<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Personal4all Lite</name>

    <description>
        Sistema Integrado de Gestão do Serviço de Personal Training
    </description>

    <author href="https://www.casadolog.com.br" email="ti@casadolog.com.br">
        Casa do Log
    </author>

</widget>

